/* 公共样式 */
body {
    font: 14px '幼圆';
}

div, p, h1, h2, h3, h4, h5, h6, span, ul, dl, ol, input, img, {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

i, em {
    font-style: normal;
}

ul, dl, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0 none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 第一屏 */
.section1 {
    perspective: 9999px;
}

.slide_pic {
    height: 100%;
}

.slide_pic img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.slide_pic img:first-of-type {
    display: block;
}

/* 下箭头 */
.next a {
    position: fixed;
    width: 30px; 
    height: 30px;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    cursor: default;
}

.next a i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 1;
    font-size: 20px;
    animation: next_a 1.6s linear infinite;
}

@keyframes next_a{
    50% {
        top: 14px;
        opacity: 0.2;
    }
}

/* 问候 */
.greet {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: rgba(67, 74, 84, 0.2);
    text-align: center;
    line-height: 26px;
    width: 150px;
    display: none;
    border-radius: 0 0 10px 10px;
    color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.greet p {
    margin: 0;
}

    /* 个人信息 */
.my_infos {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: rgba(67, 74, 84, .2);
    z-index: 99;
    left: 50%;
    margin-left: -250px;
    top: 300px;
    border-radius: 20px;
    text-align: center;
    cursor: default;
    padding: 10px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(0) rotateX(0);
    /* 执行时间要尽可能短一些, 不然会因为来不及而出现卡顿  (现在能力有限, 有待用更好方式解决, 毕竟执行慢一点好看些)*/
    transition: transform 0.01s linear; 
}

.my_infos .my_photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}

.my_infos .sentence p {
    color: #fff;
    transform-style: preserve-3d;
    transform: translateZ(20px);
    padding: 10px 5px;
    line-height: 26px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.my_infos .intro {
    margin-top: 30px;
}

.my_infos .intro p {
    line-height: 30px;
    color: #fff;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}

/* .my_infos .pause {
    position: absolute;
    height: 80px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.3);
    color: brown;
    font-weight: bold;
    display: none;
}

.my_infos .pause img {
    border-radius: 10px 0 0 10px;
    opacity: 0.5;
}

.my_infos .pause span {
    padding: 13px 10px;
    line-height: 18px;
} */

/* 第二屏 */
.section2 .left-part {
    background-color: #000;
    height: 100%;
    width: 50%;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.section2 .right-part {
    position: relative;
    background-color: #fff;
    width: 50%;
    height: 100%;
    color: #000;
    overflow: hidden;
}

.section2 .right-part .title h1,
.section2 .left-part .title h1 {
    position: absolute;
    padding: 20px 0;
    top: 20%;
    margin: 0;
    box-sizing: border-box;
}

.section2 .right-part .title h1 {
    left: -14px;
}

.section2 .left-part .title h1 {
    right: -15px;
}

.section2 .right-part .title h1::after,
.section2 .left-part .title h1::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 2px;
    width: 0;
    transition: all 1s linear;
}

.section2 .left-part .title h1::after {
    right: 0;
    background-color: #fff;
}

.section2 .right-part .title h1::after {
    left: 0;
    background-color: #000;
}

.section2 .right-part .title h1.animation::after,
.section2 .left-part .title h1.animation::after {
    width: 100%;
}

.section2 .left-part .infos,
.section2 .right-part .infos {
    position: absolute;
    top: 34%;
    height: 140px;
    width: 320px;
}

.section2 .left-part .infos {
    right: 10%;
}

.section2 .right-part .infos {
    left: 10%;
}

.section2 .left-part .infos span, 
.section2 .right-part .infos span {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: default;
    overflow: hidden;
    line-height: 100px;
}

.section2 .left-part .infos span:first-of-type, 
.section2 .right-part .infos span:first-of-type {
    left: 0;
}

.section2 .left-part .infos span:last-of-type,
.section2 .right-part .infos span:last-of-type {
    right: 0;
}

.section2 .left-part .infos span {
    border: 1px solid #fff;
}

.section2 .right-part .infos span {
    border: 1px solid #000;
}

.section2 .left-part .infos h3,
.section2 .right-part .infos h3 {
    position: absolute;
    width: 100px;
    margin: 0;
    font-weight: lighter;
    top: 120px;
    text-align: center;
}

.section2 .left-part .infos h3:first-of-type,
.section2 .right-part .infos h3:first-of-type {
    left: 0;
}

.section2 .left-part .infos h3:last-of-type,
.section2 .right-part .infos h3:last-of-type {
    right: 0;
}

.section2 .left-part .infos span i,
.section2 .right-part .infos span i {
    position: absolute;
    font-size: 40px;
    margin-left: -20px;
}

.section2 .left-part .intro,
.section2 .right-part .intro {
    position: absolute;
    top: 60%;
}

.section2 .left-part .intro {
    right: -7px;
}

.section2 .right-part .intro {
    left: -7px;
}

.section2 .left-part .intro h4,
.section2 .right-part .intro h4 {
    font-size: 18px;
    font-weight: lighter;
}

.section2 .left-part .intro h4 {
    text-align: right;
}

.section2 .left-part .intro h4 strong,
.section2 .right-part .intro h4 strong {
    font-size: 26px;
}

/* 第三屏 */
.section3 {
    background: url("../public/images/sky.jpg") no-repeat center / 100% 100%;
    overflow: hidden;
}

.section3 .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
}

.section3 .title h3 {
    margin: 0;
    padding: 0;
}

.section3 .skills {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
}

.section3 ul {
    padding: 0;
    margin: 0;
    position: relative;
}

.section3 ul li {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    margin-right: 100px;
    color: #fff;
    font-size: 12px;
    position: relative;
    transform: scale(1);
    transition: transform 0.2s linear;
    left: 0;
    top: 0;
}

.section3 ul li:hover {
    transform: scale(1.1);
}

.section3 ul li p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

.section3 ul li:nth-of-type(3n) {
    margin-right: 0;
}

.section3 ul li:nth-of-type(n + 4) {
    margin-top: 70px;
}

.section3 ul li span {
    font-size: 16px;
    font-weight: bold;
}

.section3 ul li canvas {
    position: absolute;
    left: -5px;
    top: -5px;
}

.section3 .line {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .3);
    position: absolute;
    top: -5px;
}

.section3 .line.animate {
    animation: star-ani 3s linear infinite;
}

.section3 .line::after {
    content: "";
    width: 0;
    height: 0;
    border: 0px solid #fff;
    border-width: 2px 100px;
    border-color: transparent transparent transparent rgba(255, 255, 255, .2);
    position: absolute;
    left: 4px;
    top: 0;
    /* 调整尾巴方向 */
    transform: rotateZ(-45deg) translate(-1px) translateY(-1px);
    transform-origin: 0 0;
}

@keyframes star-ani {  
    0% {
        opacity: 1;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);  
    }   
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-700px, 700px, 0);
    }  
} 

/* 第四屏 */
.section4 .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    color: #fff;
}

.section4 .experience {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 500px;
}

.section4 .experience .road {
    position: absolute;
    width: 1000px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    left: 50%;
    margin-left: -500px;
    top: 50%;
    border-radius: 2px;
    text-align: right;
}

.section4 .experience .road .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: width 10s linear;
}

.section4 .experience .road .highlight.animation {
    width: 100%;
}

.section4 .experience .road p span {
    display: inline-block;
    text-align: left;
    width: 20px;
}

.section4 .experience .road .exper-1 {
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: #000;
    top: -250px;
    left: 20%;
    opacity: 0;
    transition: all 1s linear;
    perspective: 1500px;
}

.section4 .experience .road .exper-1.animation {
    top: -150px;
    opacity: 1;
}

.section4 .experience .road .exper-1 p {
    position: absolute;
    left: 10px;
    white-space: nowrap;
    text-align: left;
    line-height: 20px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%) rotateY(-90deg);
    transform-origin: left;
    transform-style: preserve-3d;
}

.section4 .experience .road .exper-1 p.animation {
    animation: exper-1-ani 2s linear 1s forwards;
}

@keyframes exper-1-ani {
    70% {
        transform: translateY(-50%) rotateY(20deg);
    }
    80% {
        transform: translateY(-50%) rotateY(-10deg);
    }
    90% {
        transform: translateY(-50%) rotateY(5deg);
    }
    100% {
        transform: translateY(-50%) rotateY(0deg);
    }
}

.section4 .experience .road .exper-2 {
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: #000;
    top: 160px;
    left: 80%;
    opacity: 0;
    transition: all 1s linear;
    perspective: 1500px;
}

.section4 .experience .road .exper-2.animation {
    top: 80px;
    opacity: 1;
}

.section4 .experience .road .exper-2 p {
    position: absolute;
    right: 10px;
    white-space: nowrap;
    line-height: 20px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform-origin: right;
    transform: translateY(-50%) rotateY(90deg);
    transition: transform 1s linear 1s;
    transform-style: preserve-3d;
}

.section4 .experience .road .exper-2 p.animation {
    animation: exper-2-ani 2s linear 1s forwards;
}

@keyframes exper-2-ani {
    70% {
        transform: translateY(-50%) rotateY(-20deg);
    }
    80% {
        transform: translateY(-50%) rotateY(10deg);
    }
    90% {
        transform: translateY(-50%) rotateY(-5deg);
    }
    100% {
        transform: translateY(-50%) rotateY(0deg);
    }
}

/* 第六屏 */

.section6 .words {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 350px;
    height: 450px;
    padding: 20px;
    text-align: center;
}

.section6 .words .content {
    padding-top: 40px;
}

.section6 .words .content .title {
    position: relative;
    font-weight: normal;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: center;
}

.section6 .words .content .title div {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.section6 .words .content .title i {
    width: 1px;
    height: 14px;
    background-color: #333;
    margin: 9px 15px 0;
}

.section6 .words .content .title ul {
    margin: 0;
    padding: 0;
}

.section6 .words .content .title ul li {
    height: 30px;
    line-height: 30px;
}

.section6 .words .content p {
    margin: 0;
    line-height: 30px;
    font-size: 16px;
}

.section6 .words .left-top {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
}

.section6 .words .left-top::after,
.section6 .words .left-top::before {
    position: absolute;
    content: "";
    transition: all 1s linear;
}

.section6 .words .left-top::before {
    width: 100%;
    height: 2px;
    top: 0;
    left: -50px;
    background-color: #fff;
}

.section6 .words .left-top.animation::before {
    top: 0;
    left: 0px;
}

.section6 .words .left-top::after {
    width: 2px;
    height: 100%;
    top: 50px;
    left: 0px;
    background-color: #fff;
}

.section6 .words .left-top.animation::after {
    top: 0px;
    left: 0px;
}

.section6 .words .right-bottom {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    bottom: 0;
}

.section6 .words .right-bottom::after,
.section6 .words .right-bottom::before {
    position: absolute;
    content: "";
    transition: all 1s linear;
}

.section6 .words .right-bottom::before {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -50px;
    background-color: #fff;
}

.section6 .words .right-bottom.animation::before {
    bottom: 0;
    right: 0px;
}

.section6 .words .right-bottom::after {
    width: 2px;
    height: 100%;
    bottom: 50px;
    right: 0px;
    background-color: #fff;
}

.section6 .words .right-bottom.animation::after {
    bottom: 0px;
    right: 0px;
}

.section6 .others {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
}

.section6 .others ul {
    margin: 0;
    padding: 0;
    padding-left: 70px;
}

.section6 .others li {
    position: relative;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.section6 .others a {
    display: block;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.section6 .others i {
    font-size: 26px;
    color: #fff;
}

.section6 .others li span {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    top: -50px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    opacity: 0;
}

.section6 .others li span em {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-top-color: #fff;
    opacity: 0;
}

/* 我的简历 */
.footer {
    position: fixed;
    left: 1%;
    bottom: 2%;
    font-size: 14px;
    width: 150px;
    height: 20px;
    line-height: 20px;
    cursor: default;
    z-index: 1000;
    color: #fff;
}

.footer p {
    margin: 0;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    top: 0;
    transition: all 0.3s linear;
}

.footer p:last-of-type {
    opacity: 0;
}

.footer:hover p:last-of-type {
    opacity: 0.7;
    top: 8px;
}

.footer:hover p:first-of-type {
    top: -8px;
}

/* 菜单组件 */
.menus {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.menus .button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.menus .button i {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255, .6);
    width: 10px;
    left: 10px;
    top: 12px;
}

.menus .button i:nth-of-type(2) {
    top: 18px;
    width: 20px;
}

.menus .button i:last-of-type {
    top: 24px;
    width: 15px;
}

.menus .button i::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: width 0.4s linear;
}

.menus .button:hover i::after {
    width: 0;
}

.menus .lists ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
    width: 120px;
}

.menus .lists ul li {
    height: 50px;
    line-height: 50px;
    position: relative;
    left: -120%;
}

.menus .lists ul li a {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    top: 10px;
}

.menus .lists ul li a.animation {
    animation: playing 3s linear infinite;
}

@keyframes playing {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.menus .lists ul li input {
    position: absolute;
    outline: 0 none;
    width: 40px;
    padding-left: 5px;
    right: 0;
    height: 20px;
    top: 10px;
    background-color: rgba(255, 255, 255 ,0);
    color: #fff;
    border: 1px solid #fff;
}